main img {
    width: 222px;
    margin: 15px;
    border-radius: 10%;
}

body {
    display: flex;
    justify-content: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 1.5rem;
}

main img:hover {
    cursor: pointer;
}