main img {
    width: 222px;
    margin: 15px;
    border-radius: 10%;
    border: maroon solid 10px;
}

body {
    display: flex;
    justify-content: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 1.5rem;
}

main img:hover {
    cursor: pointer;
    border: magenta solid 10px;
}

h3 {
    font-size: 0.9rem;
}

b {
color: hmaroon;
}